# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NARG2D.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Zhao\Documents\USC\CSCI526\NotAnotherRhythmGame\NARG2D\.idea\.idea.NARG2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
